pipeline/Video24UntilActivityrealScenario.json
{
	"name": "Video24UntilActivityrealScenario",
	"properties": {
		"activities": [
			{
				"name": "Until1",
				"type": "Until",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@variables('isUpdated')",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Wait1",
							"type": "Wait",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"waitTimeInSeconds": 2
							}
						},
						{
							"name": "Checking Refresh Details",
							"type": "Lookup",
							"dependsOn": [
								{
									"activity": "Wait1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SqlServerSource",
									"sqlReaderQuery": "select Status from recordsStatus",
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"dataset": {
									"referenceName": "LocalDasd",
									"type": "DatasetReference"
								}
							}
						},
						{
							"name": "If Condition1",
							"type": "IfCondition",
							"dependsOn": [
								{
									"activity": "Checking Refresh Details",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@equals(activity('Checking Refresh Details').output.firstRow.Status, 'Y')",
									"type": "Expression"
								},
								"ifTrueActivities": [
									{
										"name": "Set variable1",
										"type": "SetVariable",
										"dependsOn": [],
										"userProperties": [],
										"typeProperties": {
											"variableName": "isUpdated",
											"value": true
										}
									}
								]
							}
						}
					],
					"timeout": "0.12:00:00"
				}
			},
			{
				"name": "Copy data1",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Until1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "SqlServerSink",
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": false,
						"tableOption": "autoCreate"
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "LocalDasd",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "Azure_MyDemoDB",
						"type": "DatasetReference",
						"parameters": {
							"TableName": "StudentsForRealScenario",
							"SchemaName": "dbo"
						}
					}
				]
			}
		],
		"variables": {
			"isUpdated": {
				"type": "Boolean",
				"defaultValue": false
			}
		},
		"annotations": [],
		"lastPublishTime": "2023-01-07T19:40:16Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}